# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes


# gradle
build
*/build
*/.gradle
*/run
*/runs
*/src/generated
*/src/main/generated
.kotlin
.gradle

# other
eclipse
run
runs
