[Desktop Entry]
Name=Minecraft %s
Comment=Explore your own unique world, survive the night, and create anything you can imagine!
Icon=%s
Exec=true
Hidden=true
Terminal=false
Type=Application
Categories=Game;